.header_container {
    background-color: var(--bg-white);
    padding-inline: 4rem;
}
.brand {
    color: var(--bg-primary);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: -.5px;
    transform: scaleY(.9);
}
.brand b {
    font-size: 1.5rem;
}
.logout, .profile_icon {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.logout {
    transform: rotate(180deg) translateY(-.375rem);
}
.profile_icon {
    height: 2.75rem;
    width: 2.75rem;
    /* background-color: var(--bg-primary-light); */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.profile_icon:focus {
    cursor: default;
}
.profile_icon:focus + .dropdown {
    display: block;
}
.dropdown {
    display: none;
    background-color: var(--bg-white);
    position: absolute;
    top: 4.5rem;
    right: 3rem;
    border-radius: .5rem;
    z-index: 99;
}
.dropdown button {
    font-weight: 600;
    color: var(--text-primary);
    padding: 0.375rem 4rem 0.375rem 2rem;
    z-index: 99;
    display: flex;
    width: 100%;
    align-items: center;
    gap: .5rem;
    transition: .15s;
}
.dropdown button:hover {
    background-color: var(--bg-secondary);
}
.dropdown::before {
    position: absolute;
    content: "";
    background-color: var(--bg-white);
    display: block;
    height: 1rem;
    width: 1rem;
    right: 1.875rem;
    top: -.25rem;
    transform: rotate(45deg);
    z-index: -1;
}
.profile_icon img {
    position: absolute;
    top: -.25rem;
    left:50%;
    transform: translate(-50%, 0)
}

/* @media screen and (min-width: 75rem) {
    .header_container {
        padding-inline: 4rem;
    }
}
@media screen and (min-width: 36rem) {
    .header_container {
        padding-inline: 3rem;
    }
} */